@font-face {
  font-family: "GilroyB";
  src: local("GilroyB"), url("./fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("./fonts/Gilroy-Light.otf") format("opentype");
  font-weight: normal;
}
:root {
  font-family: Gilroy, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f1e4c4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#7C90A0] to-[#330867];
  }
}
h1 {
  font-family: GilroyB;
  line-height: 1.1;
}
