@font-face {
    font-family: "GilroyB";
    src: local("GilroyB"),
        url("./fonts/Gilroy-ExtraBold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"), url("./fonts/Gilroy-Light.otf") format("opentype");
    font-weight: normal;
}
:root {
    font-family: Gilroy, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: rgba(0, 0, 0, 0.87);
    background-color: #eff5f3;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .text-gradient {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-[#7C90A0] to-[#330867];
    }
}
@font-face {
    font-family: "Gilroy";
    src: url("./fonts/Gilroy-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Gilroy";
    src: url("./fonts/Gilroy-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Gilroy";
    src: url("./fonts/Gilroy-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Gilroy";
    src: url("./fonts/Gilroy-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Gilroy";
    src: url("./fonts/Gilroy-Black.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "Fanwood";
    src: url("./fonts/FanwoodText-Regular.ttf");
    font-weight: 400;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        /* --green: 168 100% 21%;
        --greenlight: 104 48% 64%; */
        --green: 0 84% 40%;
        --greenlight: 0 72% 65%;
    }
}
@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
